    <div class="navbar-wrapper" id="fixheader">
        <div class="container">
            <div class="navbar" role="navigation">
                <div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <a class="navbar-brand" href="index.html"><img src="assets/images/logo.svg" alt="R & R Technology"></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <div>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="visible-xs"><a href="#" id="closeicon" data-toggle="collapse" data-target=".navbar-collapse" class="glyphicon glyphicon-remove"><span class="sr-only">Close Menu</span></a></li>
                                <li><a href="index.html">Home</a></li>
                                <li class="dropdown"><a href="index.html">About Us</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Office <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="index.html">Service 1</a></li>
                                        <li><a href="index.html">Service 2</a></li>
                                        <li><a href="index.html">Service 3</a></li>
                                        <li><a href="index.html">Service 4</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="index.html">Contact Us</a></li>
                                <li><a href="index.html" class="btn btn-primary">Login / Register</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper bgwhite">
        <div class="container">
            <div class="row ba">
            <div class="col-md-9 pad0">
                <div class="carousel-main owl-carousel owl-theme">
                    <div class="item">
                        <img src="assets/images/slide1.jpg" class="img-responsive">
                        <div class="carousel-caption">
                            <h1><span>Concept Development</span></h1>
                            <h2><span>At R& R technology, we can take part in your conceptual development phase and help with the idea generation, clarification and specification of your concept. </span></h2>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/images/slide2.jpg" class="img-responsive">
                        <div class="carousel-caption">
                            <h1><span>Concept Development</span></h1>
                            <h2><span>At R& R technology, we can take part in your conceptual development phase and help with the idea generation, clarification and specification of your concept. </span></h2>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-md-3 pad0">
                    <div class="location">
                        <h3>Bangalore</h3>
                    </div>
                    <div class="LiveScore">
                        <h3>Live Score:</h3>
                        <p>IND 180/6 (50)</p>
                        <p>AUS 120/4 (42.4)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bgblue sectionpad">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="quotes">
                        <p class="text-white">Thought for the day</p>
                        <h2 class="">There's a great joy in my giving. It's thrilling. It's exhilarating. It's important to be a part of sharing."</h2>
                        <p class="text-right">- W. Clement Stone </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bggray sectionpad">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="sectiontitle text-center">Explore</h1>
                    <div class="carousel-explore owl-carousel owl-theme">
                        <div class="item">
                            <div class="explore-items">
                                <img src="assets/images/Icon-Play.svg">
                                <h2>Play a Sports</h2>
                                <button class="btn btn-primary btn-sm">Know More</button>
                            </div>
                        </div>
                        <div class="item">
                            <div class="explore-items">
                                <img src="assets/images/Icon-Fitness.svg">
                                <h2>Fitness</h2>
                                <button class="btn btn-primary btn-sm">Know More</button>
                            </div>
                        </div>
                        <div class="item">
                            <div class="explore-items">
                                <img src="assets/images/Icon-Learn.svg">
                                <h2>Learn a Sports</h2><button class="btn btn-primary btn-sm">Know More</button>
                            </div>
                        </div>
                        <div class="item">
                            <div class="explore-items">
                                <img src="assets/images/Icon-Adventure.svg">
                                <h2>Adventure</h2>
                                <button class="btn btn-primary btn-sm">Know More</button>
                            </div>
                        </div>
                        <div class="item">
                            <div class="explore-items">
                                <img src="assets/images/Icon-Revolution.svg">
                                <h2>Revolution of Sports</h2>
                                <button class="btn btn-primary btn-sm">Know More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bgwhite sectionpad">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="sectiontitle">Blog</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic.</p><br>
                    <button class="btn btn-primary btn-sm">Read</button>
                    <button class="btn btn-Default btn-sm">Wright</button>
                </div>
                <div class="col-md-5">
                    <img src="assets/images/Sports.jpg" class="img-responsive">
                </div>
            </div>
        </div>
    </div>    
    <div class="bgblue sectionpad">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="sectiontitle text-center">Events</h1>
                    <div class="carousel-explore owl-carousel owl-theme">
                        <div class="item">
                            <div class="explore-items">
                                <h2>Sports Event</h2>
                                <p>15-01-2018</p>
                                <button class="btn btn-default btn-sm">Know More</button>
                            </div>
                        </div>
                        <div class="item">
                            <div class="explore-items">
                                <h2>Fitness Event</h2>
                                <p>20-01-2018</p>
                                <button class="btn btn-default btn-sm">Know More</button>
                            </div>
                        </div>
                        <div class="item">
                            <div class="explore-items">
                                <h2>Sports Meet</h2>
                                <p>22-01-2018</p>
                                <button class="btn btn-default btn-sm">Know More</button>
                            </div>
                        </div>
                        <div class="item">
                            <div class="explore-items">
                                <h2>Adventure Event</h2>
                                <p>02-02-2018</p>
                                <button class="btn btn-default btn-sm">Know More</button>
                            </div>
                        </div>
                        <div class="item">
                            <div class="explore-items">
                                <h2>Cricket Event</h2>
                                <p>20-02-2018</p>
                                <button class="btn btn-default btn-sm">Know More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>